# Exercice de Mathématiques

## En 2019, dans le monde il y avait environ 500 tortues
## Calculer combien il y en avait en 2020

In [1]:
x=2019
y=500
while x!=2020:
    x=x+1
    y=y*1.04
print(x,"->",y,"tortues")

2020 -> 520.0 tortues

## A partir de quelle années il y a plus de 4 fois plus de tortues qu'en 2019

In [5]:
x=2019
y=500
z=float(4*y)
i=float(y)
for i in z:
    x=x+1
    y=y*1.04
    i=y
    print(x,"->",y)

TypeError: 'float' object is not iterable

In [ ]:
float